*.pyc
*.swp
perfact_dbutils.egg-info
venv*
doc/source/api
.tox
.coverage
__pycache__
build
dist
.temp-venv
.wheels
debian/python3-perfact-dbutils*
debian/.debhelper
debian/debhelper-build-stamp
debian/files
tags
tags.lock
tags.temp
.pybuild
